@keyframes scanMask{0%{-webkit-mask-position:0% 200%;mask-position:0% 200%}to{-webkit-mask-position:0% -100%;mask-position:0% -100%}}img[src*="12d367_71ebdd7141d041e4be3d91d80d4578dd"]{-webkit-mask-image:linear-gradient(to bottom,transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);mask-image:linear-gradient(to bottom,transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);-webkit-mask-size:100% 200%;mask-size:100% 200%;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;animation:scanMask 2s linear infinite}


/* ===== INLINE CSS ===== */

#wixvibe-banner-container {
        position: fixed;
        direction: ltr;
        height: 36px;
        right: 20px;
        bottom: 20px;
        /* width: 140px; */
        z-index: 9999;


        box-shadow: 0px 0px 18px 0px rgba(0, 6, 36, 0.10), 0px 6px 6px 0px rgba(0, 6, 36, 0.00);
        border: 0;
        box-sizing: border-box;

      }
      #wixvibe-banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 100%;
        height: 100%;
        background: #fff;
        font-family: "Wix Madefor Text", sans-serif;
        font-size: 14px;
        color: #000000;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        padding-left: 8px;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;
      }

      #wixvibe-banner-link {
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
        color: #000000;
        padding-left: 4px;
      }

      #wixvibe-banner-close {
        background:transparent;
        border:none;
        padding: 4px;
        margin: 0;
        cursor:pointer;
       margin-top: -14px;
       margin-right: 2px;
       padding-left: 2px;
      }

/* ===== INLINE CSS ===== */

astro-island,astro-slot,astro-static-slot{display:contents}